@model BookCave.Models.ViewModels.AuthorDetailsViewModel

<link rel="stylesheet" href="~/css/site.css" type="text/css">

<ul class="breadcrumb">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li><a asp-area="" asp-controller="Author" asp-action="Index">Author</a></li>
  <li>AuthorDetails</li>
</ul>

<div class="container">
<div class="row align-items-center">
    <div class="col-lg-6 col-sm-12 col-md-6">
     <img class="detailsImg" src="@Model.Image" alt="Book Image">
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6 ">
      <h1 class="h1Heading">@Model.Name</h1>
        <h3>Born on @Model.DateOfBirth</h3>
      
        <h3>Books that @Model.Name has written</h3>
        @for (int i = 0; i < Model.Books.Count; i++)
        {     
            <p><a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Books[i].Id">@Html.DisplayFor(m => Model.Books[i].Title)</a></p>
        }
    </div>
    </ul>
</div>
