    @model List<BookCave.Models.ViewModels.OrderListViewModel>

      <link rel="stylesheet" href="~/css/site.css" type="text/css">
    <ul class="breadcrumb">
      <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
      <li><a asp-area="" asp-controller="Account" asp-action="MySite">My Site</a></li>
    <li>My Cart</li>
    </ul>

    <h1 class="center">Your latest orders</h1></br>



      <table class="table " id="oneTable">
      <tr class="active">
        <th>BookName</th>
        <th>Count</th>
        <th>Price</th>
        
        <th>OrderId</th>
        <th>BookId</th>
        
      </tr>
    @for(int i = 0; i < @Model[0].Books.Count; i++)
      {
        <tr class="active" >
          <td>@Model[0].Books[i].BookTitle</td>
          <td>@Model[i].Count</td>
          <td>@Model[i].BookPrice</td>
          <td>@Model[i].OrderId</td>
          <td>@Model[i].BookId</td>
        </tr>
      }
      </table>

     
    <div class="center">
      <form asp-area="" asp-controller="Account" asp-action="Mysite">
          <button type="submit" class="btn btn-default btn-lg" >Go back to MySite</button>
          </form>
        </div>  
 

