@model List<BookCave.Models.ViewModels.BookTop5ViewModel>

<link rel="stylesheet" href="~/css/site.css" type="text/css">


  @{
    ViewData["Title"] = "Home";
  }



<div class="row text-center">
  <h1 id="index-h1">Welcome to BookCave, the best online bookstore</h1></hr>

  <button class="btn btn-default"><a asp-action="Shop" asp-controller="Book" >Check our collection of awesome books</a></button>
</div>


<div class="container-fluid" >
  <div >
  <br>
  <h2 class="h2Heading">Top 5 rated books</h2>
  <br>
    <div class="row"> 
      @foreach (var book in Model)
      {
        <div class="col-lg-5 col-sm-6 col-md-3" id="borderStyle" >
        <img class="img-thumbnail" id="bookImg" src="@book.Image" alt="BookImage">
        <p><a asp-controller="Book" asp-action="DetailsAsync" asp-route-id="@book.BookId"><strong>@book.Title</strong></a></p>
        <p><strong>Rating: @book.Rating</strong></p>
        </div>
      }
</div>
</div>
        <div>
        <h2 id="top5">Newest releases</h2>
        <br>
        <div class="row" >
          @for (int i = 0; i < Model[0].GetNewest5Books.Count; i++)
          {
            <div class="col-lg-5 col-sm-6 col-md-3" id="borderStyleTwo">
            <img class="img-thumbnail;" id="bookImg" src="@Model[0].GetNewest5Books[i].Image" alt="BookImage">
            <p><a asp-controller="Book" asp-action="DetailsAsync" asp-route-id="@Model[0].GetNewest5Books[i].BookId">@Model[0].GetNewest5Books[i].Title</a></p>
            <p>Release Year: @Model[0].GetNewest5Books[i].ReleaseYear</p>
            </div>
          }
        </div>
        </div>



        <div class="container-fluid; fa" id="bottomofindex">
  <section id="about">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="fa fa-book text-primary"></span>
        <h3>Exclusive Books</h3>
        <p class="text-muted">We offer only exclusive books</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="fa fa-plane text-primary"></span>
        <h3>Ready to ship</h3>
        <p class="text-muted">We ship all over the world!</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="fa fa-phone text-primary"></span>
        <h3>Mobile friendly!</h3>
        <p class="text-muted">Responsive design for mobile devices!</p>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 text-center">
        <span class="fa fa-heart text-primary"></span>
        <h3>Made with sweet love</h3>
        <p class="text-muted">...and bananas. Mostly bananas...</p>
      </div>

    </div>
    </div>
  </section>


    

</div>

