@model BookCave.Models.ViewModels.BookDetailsViewModel

<link rel="stylesheet" href="~/css/site.css" type="text/css">

<ul class="breadcrumb">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li><a asp-area="" asp-controller="Book" asp-action="Shop">Books</a></li>
  <li>Book details</li>
</ul>

<div class="container-fluid">

<div class="row align-items-center">

    <div class="col-lg-4 col-sm-12 col-md-6">
     <img class="detailsImg" src="@Model.Image" alt="Book Image">
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6" style="width:">
      <h1 class="h1Heading">@Model.Title</h1>
      <h3>Rating: @Model.Rating</h3>
      <h4>Author</h4>
     @for (int i = 0; i < Model.Authors.Count; i++)
        {     
            <h4><a asp-controller="Author" asp-action="Details" asp-route-id="@Model.Authors[i].Id">@Html.DisplayFor(m => Model.Authors[i].Name)</a></h4>
        }
      
    <h4>Release Year: @Model.ReleaseYear</h4>
    <h4>Description: </h4> 
    <p>@Model.Description</p>
    </br>
    <h3>Price: @Model.Price</h3>
    
    
    <button class="btn btn-default" type="button">Add to Wishlist</button>
   <button class="btn btn-deful; gotobutton">
        <a asp-controller="ShoppingCart" asp-action="AddToCartAsync" asp-route-id="@Model.BookId">Add to cart</a>
</button>
    </div>



    <div class="col-lg-4 col-sm-12 col-md-6">
    <form method="POST">
    <label asp-for="Review"> Your comment about this book:</label></br>
    <input type ="text" asp-for="Review" class="form-control"></textarea></br>
    <span asp-validation-for="Review" class="badge"></span>
    <button class="btn btn-default" type="submit" <a asp-action="Details" asp-route-id="@Model.BookId" asp-controller="Book"></a>Submit Comment</button>
    </form>
   

      <h4>Rate this book</h4>

<select>
    <option value ="1">1</option>
    <option value ="2">2</option>
    <option value ="3">3</option>
    <option value ="4">4</option>
    <option value ="5">5</option>
    <option value ="6">6</option>
    <option value ="7">7</option>
    <option value ="8">8</option>
    <option value ="9">9</option>
    <option value ="10">10</option>
</select>
   <button class="btn btn-default" type="button">Submit rating</button>
     <div class="user-reviews">
        <h3 style="border-bottom-style:solid;">The Reviews for this book are:</h3>
        @foreach (var review in Model.Reviews)
        {
        <p style="border-bottom-style:solid; border-color:white;">@review.Review</p>
        }
    </div>

    </div>
  </div>

</div>
<div>
   
</div>