@model BookCave.Models.ViewModels.BookDetailsViewModel

<div style="width: 90%; margin-left: auto; margin-right: auto;">
<div style="float: left; margin-left:0%;">
<img src="@Model.Image" alt="Book Image">
</div>
    <div style="float: left; margin-left:5%;">
    
    <h1>@Model.Title</h1>
    <h3>@Model.ReleaseYear</h3>
    <h3>@Model.Price</h3>
    <h3>@Model.Description</h3>
    <h3>@Model.Rating</h3>
    <button class="btn btn-default" type="button">Add to Wishlist</button>
    <button class="btn btn-default" type="button">Add to bakset</button>
</div>

<div style="float: right; margin-right:10% ">

    <form action="details.cshtml" method="post">
    <label for="comment"> Your comment about this book:</label></br>
    <textarea id="comment" name="user_comment"></textarea></br>
    <button class="btn btn-default" type="submit">Submit Comment</button>
    </form>


        <h2>Rate this book</h2>

<select>
    <option value ="1">1</option>
    <option value ="2">2</option>
    <option value ="3">3</option>
    <option value ="4">4</option>
    <option value ="5">5</option>
    <option value ="6">6</option>
    <option value ="7">7</option>
    <option value ="8">8</option>
    <option value ="9">9</option>
    <option value ="10">10</option>
</select>
    </div>
</div>


