@model BookCave.Models.ViewModels.BookDetailsViewModel

<link rel="stylesheet" href="~/css/site.css" type="text/css">

<ul class="breadcrumb">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li><a asp-area="" asp-controller="Book" asp-action="Shop">Books</a></li>
  <li>Book details</li>
</ul>

<div class="container">
<div class="row align-items-center">

    <div class="col-xs-4 ">
     <img class="detailsImg" src="@Model.Image" alt="Book Image">
    </div>

    <div class="col-xs-4" style="width:">
      <h1 class="h1Heading">@Model.Title</h1>
      <h3>Rating: @Model.Rating</h3>
      <h4>Author</h4>
     @for (int i = 0; i < Model.Authors.Count; i++)
        {     
            <h4><a asp-controller="Author" asp-action="Details" asp-route-id="@Model.Authors[i].Id">@Html.DisplayFor(m => Model.Authors[i].Name)</a></h4>
        }
      
    <h4>Release Year: @Model.ReleaseYear</h4>
    <h4>Description: </h4> 
    <p>@Model.Description</p>
    </br>
    <h3>Price: @Model.Price</h3>
    
    
    <button class="btn btn-default" type="button">Add to Wishlist</button>
    <button class="btn btn-default; goodButton" type="button">Add to bakset</button>
    </div>



    <div class="col-xs-4 ">
        <form action="details.cshtml" method="post">
    <label for="comment"> Your comment about this book:</label></br>
    <textarea id="comment" name="user_comment"></textarea></br>
    <button class="btn btn-default" type="submit">Submit Comment</button>
    </form>

      <h2>Rate this book</h2>

<select>
    <option value ="1">1</option>
    <option value ="2">2</option>
    <option value ="3">3</option>
    <option value ="4">4</option>
    <option value ="5">5</option>
    <option value ="6">6</option>
    <option value ="7">7</option>
    <option value ="8">8</option>
    <option value ="9">9</option>
    <option value ="10">10</option>
</select>
   <button class="btn btn-default" type="button">Submit rating</button>

    </div>
  </div>
</div>