@model List<BookCave.Models.ViewModels.BookListViewModel>

<link rel="stylesheet" href="~/css/site.css" type="text/css">



<ul class="breadcrumb">
  <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
  <li>Books</li>
</ul>


<h2 class="center">All books</h2>

<div class="center">
<form method="POST" asp-controller="Book" asp-action="Filter" class="detailed-search">
    <div class="select">
        <label for="orderBy">Filter books by:</label>
        <select name="orderBy">
            <option value="PriceH2L">Price high to low</option>
            <option value="PriceL2H">Price low to high</option>
            <option value="Alphabeticalorder">Title</option>
        </select>
<input type="submit" value="Filter" id="search-button">
</form>
</div>

<div class="displayBooks">
<div class="row">
  @foreach (var book in @Model)
  {
      <div class="col-lg-3" style="width: 250px; height:400px; border-style: solid; border-color:white;  text-align:center;">
       <p><a asp-controller ="Book" asp-action ="Details" asp-route-id="@book.BookId">@book.Title</a></p>
      <img text-align:center; class="img-thumbnail; indexImg" src="@book.Image" alt="Book Image">
 
        <p><a asp-controller ="Author" asp-action ="Details" asp-route-id="@book.AuthorId">Author: @book.Author</a></p>
        <p>Price: $@book.Price</p>
        <p>Rating: @book.Rating</p>
        
        <div>
          <button class="btn btn-default"><a asp-action="Edit" asp-route-id="@book.BookId" asp-controller="Book">Edit</a></button>
          <button class="btn btn-default" style="background-color: red; "><a asp-action="Delete" asp-route-id="@book.BookId" asp-controller="Book">Delete</a></button>

        </div>
      </div>
  }
</div>
<p>
  <a asp-controller="Book" asp-action="Create" class="btn btn-primary">Add Book!</a>
</p>
</div>
</div>
